@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP|Noto+Serif+KR&display=swap');

.slide, .slidee {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.slide {
	margin: 0.2em;

	width: 4em;
	height: 4em;

	overflow: hidden;

	border: 1px solid;
	box-shadow: 5px 6px;

	font-family: 'Noto Serif KR', 'Noto Serif JP', serif
}

.slidee {
	margin: 0;
	padding: 0;

	width: 4em;
	height: 4em;

	flex-shrink: 0;

	position: relative;
	top: -50%;
	transition: top 0.8s cubic-bezier(0.25, 1, 0, 1);

	text-align: center;
	line-height: 1
}

.slide:hover > .slidee { top: 50% }

body {
	margin: 0;

	width: 100vw;
	height: 100vh;

	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: min-content min-content;

	font-size: 2em
}